apiVersion: apps/v1
kind: Deployment
metadata:
  name: bff-deployment
  labels:
    app: bff
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bff
  template:
    metadata:
      labels:
        app: bff
    spec:
      containers:
      - name: bff-container
        image: vilianeso/academyio.bff.api:latest        
        ports:
        - containerPort: 5018
        env:
          - name: ASPNETCORE_URLS
            value: "http://+:5018"
          - name: ASPNETCORE_ENVIRONMENT
            value: "Production"
        resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
