name: Build Project

permissions:
  contents: write
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:

  versionamento:
    runs-on: ubuntu-latest
    name: Versionamento

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: true
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - uses: codacy/git-version@2.8.6   
        id: version     
        with:
          release-branch: master
          prefix: v
          
      - name: Tag do repositorio
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "::notice:: ${{ steps.version.outputs.version }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"
          git tag -a ${{ steps.version.outputs.version }} -m "Release ${{ steps.version.outputs.version }}"
          git push --tags
        if: github.ref == 'refs/heads/master'

  backend-build-and-test:
    needs: versionamento
    runs-on: ubuntu-latest
    name: Build Project

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: true

      - name: Setup .Net Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.x'
          cache: true
          cache-dependency-path: '**/*.csproj'

      - name: Restore
        run: |
            dotnet restore ./AcademyDevOps.sln            

      - name: Build
        run: |            
            dotnet build --no-restore --configuration Release ./AcademyDevOps.sln

      - name: Test
        run: |            
            dotnet test --no-build --no-restore ./AcademyDevOps.sln --configuration Release --logger trx --results-directory "TestResults"
        if: github.ref != 'refs/heads/master'

      - uses: actions/upload-artifact@v5
        with:
          name: dotnet-test-results
          path: TestResults
        if: github.ref != 'refs/heads/master'

  backend-lint:
      needs: versionamento
      runs-on: ubuntu-latest
      name: Backend Lint

      steps:
        - name: Checkout code
          uses: actions/checkout@v5
          with:
            # super-linter needs the full git history to get the
            # list of files that changed across commits
            fetch-depth: 0

        - uses: github/super-linter@v6
          env:
            DEFAULT_BRANCH: "master"
            VALIDATE_ALL_CODEBASE: "false"
            VALIDATE_YAML: "true"
            VALIDATE_CSHARP: "true"
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: github.ref != 'refs/heads/master'  

  dependency-check:
    name: Dependency Check
    needs: versionamento
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v5        

      - uses: actions/dependency-review-action@v4
        with:
          comment-summary-in-pr: always
    if: github.ref != 'refs/heads/master'