name: Build Project

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build Project

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup .Net Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.x'

      - name: Build
        run: |
            dotnet restore ./AcademyDevOps.sln
            dotnet build --no-restore ./AcademyDevOps.sln