name: Build Project

permissions:
  contents: write
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:

  versionamento:
    runs-on: ubuntu-latest
    name: Versionamento

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: true
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - uses: codacy/git-version@2.8.6   
        id: version     
        with:
          release-branch: master
          prefix: v
          
      - name: Tag do repositorio
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "::notice:: ${{ steps.version.outputs.version }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"
          git tag -a ${{ steps.version.outputs.version }} -m "Release ${{ steps.version.outputs.version }}"
          git push --tags
        if: github.ref == 'refs/heads/master'

  build:
    runs-on: ubuntu-latest
    name: Build Project

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: true

      - name: Setup .Net Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.x'
          cache: true
          cache-dependency-path: '**/*.csproj'

      - name: Build
        run: |
            dotnet restore ./AcademyDevOps.sln
            dotnet build --no-restore ./AcademyDevOps.sln