name: Deploy Identidade

on:
  workflow_run:
    workflows: ["Build Project"]
    types:
      - completed

jobs:
  deploy:
    runs-on: self-hosted   # seu runner com Minikube instalado
    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Aplicar Deployment e Service
        run: |
          kubectl apply -f docker/identidade_deployment.yaml
          kubectl apply -f docker/serviceIdentidade.yaml

      - name: Esperar pods ficarem prontos
        run: |
          kubectl rollout status deployment/identidade-deployment

      - name: Testar serviço
        run: |
          minikube service identidade-service --url
          curl $(minikube service identidade-service --url)